.Empty {
	padding: 25px;
	background-color: #c80000;
}

.SplashPage {
  background-color: #262626;
  
}

.NavBar a {
	font-size: 2vw;
	padding-right: 100px;
	padding-left: 100px;
}

.NavBar a:link, .NavBar a:visited {
	color: white;
}

button a, button a:visited{
	color:black;
}

button a {
	text-decoration: none;
}
a:hover {
	opacity: 50%;
}

.Showreel{
	background-color: #c80000;
	height: 1000px;
	padding-top: 0px;
	padding-bottom: 0px;
	
}

.Showreel iframe {
	width: 100%;
	height: 100%;
}

.Video iframe {
	
	width: 50%;
	
}

.AboutMe {
	background-color: #262626;
}

.NavBar {
	background-color: #262626;
	padding: 0px;
}


.Projects {
	background-color: #262626;
	height: auto;
}

.Resume {
	background-color: #c80000;
}

.Contact {
	background-color: #262626;
}

.ProfilePhoto {
	border-radius: 100%;
	width: 15%;
}

.Responsive, p {
	max-width: auto;
	max-height: auto;
	
}

img {
max-width: 50%;
  height: auto;
  
}

body{
	color: white;
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	
}
.Projects img {
	border-radius: 25px;
	margin: 50px;
	border: 5px solid #c80000;
}

.Projects img:hover {
	
	filter: blur(0.30rem);
}
.Video {
	
	background-color: #262626; 
}

.ProjectsIntro {
	background-color: #c80000;
	padding-top: 100px;
	padding-bottom: 100px;
}

.ProjectTitle {
	max-width: 50%;
	padding-left: auto;
	padding-right: auto;
	background-color: #c80000;
	font-size:2vw;
	display: block;
	
}

.ProjectDescription {
	font-size:1.5vw;
	background-color: #c80000;
}

.ProjectsSection {
	background-color: #c80000;
}


h1, h2{
	/*font-size: 400%;*/
	font-size:4vw;
	
}

table{
	margin-left: auto;
	margin-right: auto;
}

p {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	font-size: 1.75vw;
    width: 50%;	
}


footer {
	font-size:1vw;
}

button {
	border-radius: 20px;
	font-size: 1.5vw;
	font-family: 'Merriweather Sans', sans-serif;
	border: 2px solid white;
	background: white;
}

button:hover{
	background: #e7e7e7;
	border: 2px solid #e7e7e7;
}

html, body {
    margin: 0px;
	font-family: 'Merriweather Sans', sans-serif, arial;
	background-color: #262626;
} 

@font-face{
font-family: 'Merriweather Sans', sans-serif;
}
